{% extends 'my_app/layout.html'%}
{%load static%}
{%block content%}
<body>




    
    <div class="container" style="padding-top: 1.5mm;">
        <div class= 'col-16'>
            <div class="alert alert-primary" role ="alert" style="min-height: 1.5cm;">
        
               
                
                <h1>  Elly Omondi Obare</h1>
                <div class="container" > 
                    <nav class="navbar navbar-expand-md navbar- light bg-alert">
                        <div class="container-fluid" >
                            <div class="container-fluid  collapse navbar-collapse" id="navbarCollapseLinks"  >
                           
                           <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarCollapseLinks" aria-expanded="false" aria-label="Toggle Navigation">
                              <span class="navbar-toggler-icon"></span> 
                            </button> 
                            <!-- <div class=" collapse navbar-collapse" id="navbarCollapseLinks"> -->
                            <a  class ="flex-sm-fill text-sm-center nav-link" href="{% url 'index' %}" >DigiWorks</a>  
                             <ul class="navbar-nav ml-auto">
                                <li class="flex-sm-fill text-sm-center nav-link " >
                                    <a  class ="flex-sm-fill text-sm-center nav-link" href="{% url 'about' %}" >About</a>
                                </li>
                
                                <li class="flex-sm-fill text-sm-center nav-link" >
                                    <a  class ="flex-sm-fill text-sm-center nav-link" href="{% url 'contact' %}" >Contact</a>
                                </li>
                
                                <li class="flex-sm-fill text-sm-center nav-link" >
                                    <a  class ="flex-sm-fill text-sm-center nav-link" href="{% url 'skillset' %}" >Skill Set</a>
                                </li>
                
                                <li class="flex-sm-fill text-sm-center nav-link" >
                                    <a class ="flex-sm-fill text-sm-center nav-link"  href="{% url 'experience' %}">Experience</a>
                                </li>
                             </ul>
                            </div>
                
                        </div>
                     </nav>
                    </div>
                </div>
            </div>
        </div>

<div class="row">
  <div class="col 2" >
        <div class="navbar-text pull-right">
          <img src="{%static 'my_app/backgrounds.jpeg'%}" class="rounded" /> 
       </div> 
    </div>


      <div class="col 5"  >
          <div class="alert alert-secondary" role ="alert" style="min-height: 350px;">
          <p>Elly is an undergraduate student doing computer science at Kenyatta University .
              I'm passionate about technology and the impact it has in our society.
              My love for technology started back in High school and Computer Science is shaping the dream as I had imagined.

              I ventured into building Web Aplications and before developing interest in Data Science and Artificial Intelligence
              which I now enjoy since the field falls in my dream career.

              My desire is to grow into a Senior  Software Engineer 
          </p>
          </div>
      </div>
   </div>
   <p>Coding is awesome</p>
  </div>

  

</body>

 {%endblock%}