{% extends 'my_app/layout.html'%}
{%load static%}

{%block content%}
<h1></h1> 


<body>
  <div class="container">
      <div class="alert-primary " role="alert">
        <div class="container"> 
        <nav class="navbar navbar-expands navbar-light bg-alert">
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a  class ="flex-sm-fill text-sm-center nav-link" href="{% url 'index' %}" >DigiWorks</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav">
              <li class="flex-sm-fill text-sm-center nav-link " >
                  <a  class ="flex-sm-fill text-sm-center nav-link"  href="{% url 'about' %}" >About</a>
              </li>

              <li class="flex-sm-fill text-sm-center nav-link" >
                  <a class ="flex-sm-fill text-sm-center nav-link" href="{% url 'contact' %}" >Contact</a>
              </li>

              <li class="flex-sm-fill text-sm-center nav-link" >
                  <a class ="flex-sm-fill text-sm-center nav-link"  href="{% url 'skillset' %}" >Skill Set</a>
              </li>

              <li class="flex-sm-fill text-sm-center nav-link" >
                  <a class ="flex-sm-fill text-sm-center nav-link" href="{% url 'experience' %}">Experience</a>
              </li>
           </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>


    
   </div>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="alert-primary " role="alert">
          <img src="{%static 'my_app/cloudapp.png'%}" alt="" style='height: 100%; width: 100%; object-fit: contain' /> 
        </div>
        </div>
      </div>

    <div class="col">
        <div class="alert-primary " role="alert">
        <img src="{%static 'my_app/APPS.png'%}" alt="" /> 
      </div> />  
       </div> 
    </div>
    </div>
</div>

    <div class="container"> 
        
     <p></p>
       <div class="row">
         <div class="alert-primary " role="alert">
          <img src="{%static 'my_app/APPS.png'%}" alt="" style='height: 100%; width: 100%; object-fit: contain' /> 
        </div> 
        </div> 
             <div class="col">
            <div class="alert-primary " role="alert">
            <img src="{%static 'my_app/APPS.png'%}" alt="" />  
           </div> 
        </div>
         <div class="col">
            <div class="alert-primary " role="alert">
            <img src="{%static 'my_app/cloudapp.png'%}" alt=""  /> 
          </div>
           </div> 
        </div>
    </div>

</body>


{%endblock%}