{% extends 'my_app/layout.html'%}
{%load static%}

{%block content%}
<h1></h1> 


<body>
  <div class="container">
      <div class="alert-primary " role="alert">
        <div class="container"> 
        
      </div>
    </div>
  </div>


    
   </div>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="alert-primary " role="alert">
          <img src="{%static 'my_app/cloudapp.png'%}" alt="" style='height: 100%; width: 100%; object-fit: contain' /> 
        </div>
        </div>
      </div>

    <div class="col">
        <div class="alert-primary " role="alert">
        <img src="{%static 'my_app/APPS.png'%}" alt="" /> 
      </div>
       </div> 
    </div>
    </div>
</div>

    <div class="container"> 
        
     <p></p>
       <div class="row">
         <div class="alert-primary " role="alert">
          <img src="{%static 'my_app/APPS.png'%}" alt="" style='height: 100%; width: 100%; object-fit: contain' /> 
        </div> 
        </div> 
             <div class="col">
            <div class="alert-primary " role="alert">
            <img src="{%static 'my_app/APPS.png'%}" alt="" />  
           </div> 
        </div>
         <div class="col">
            <div class="alert-primary " role="alert">
            <img src="{%static 'my_app/cloudapp.png'%}" alt=""  /> 
          </div>
           </div> 
        </div>
    </div>

</body>


{%endblock%}