{% extends 'my_app/layout.html'%}

{%load static%}
{% block content%}

<div class="container- pt-4" style="padding-top: 15mm;" >

<!-- <div class="jumbotron jumbotron-fluid "> -->
    <div class="mx-auto"  >
      
     <p class="lead"></p>
    </div>
    <nav class="navbar navbar-expand navbar- light bg-alert">
      <div class="container-fluid" >
          <a  class ="flex-sm-fill text-sm-center nav-link" href="{% url 'index' %}" >DigiWorks</a>
         <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarCollapseLinks" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span> 
          </button> 
          <div class=" collapse navbar-collapse" id="navbarCollapseLinks">
           <ul class="navbar-nav ml-auto">
              <li class="flex-sm-fill text-sm-center nav-link " >
                  <a class ="flex-sm-fill text-sm-center nav-link"  href="{% url 'about' %}" >About</a>
              </li>

              <li class="flex-sm-fill text-sm-center nav-link" >
                  <a class ="flex-sm-fill text-sm-center nav-link" href="{% url 'contact' %}" >Contact</a>
              </li>

              <li class="flex-sm-fill text-sm-center nav-link" >
                  <a class ="flex-sm-fill text-sm-center nav-link" href="{% url 'skillset' %}" >Skill Set</a>
              </li>

              <li class="flex-sm-fill text-sm-center nav-link" >
                  <a class ="flex-sm-fill text-sm-center nav-link" href="{% url 'experience' %}">Experience</a>
              </li>
           </ul>
          </div>

      </div>
   </nav>
   
      <h1>Online Portforlio</h1>


    <!-- <div>
       <nav class="navbar fixed-top  navbar-inverse  " >
   
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'about' %}" tabindex="-1" aria-setsize="13">About</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'contact' %}" tabindex="-1"  aria-setsize="13">Contact</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'skillset' %}" tabindex="-1"  aria-setsize="13">Skill Set</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'experience' %}" tabindex="-1"  aria-setsize="13">Experience</a>
      </nav>
    </div>
  </div> -->


<body>

<div class="container">
  <div class= 'row'>
   <div class="col">
    <div class="alert alert-primary" role ="alert" style="min-height: 250px;">

      <h4>Hi, I'm Elly
        <br><p>A Software Developer</p>

      <div class="row">
        <div class="col">
           <div class="alert-primary " role="alert">
            <img src="{%static 'my_app/bcg.jpeg'%}" class="rounded" alt="Cinque Terre" /> 
          </div>
        </div>
        <div class="col">
          <div class="alert-primary " role="alert">
            <img src="{%static 'my_app/elly.JPG'%}" class="rounded-circle" alt="Cinque Terre" />
         </div>
       </div>
      </div>

     </div>
    </div>
  </div>
</div>
</div> 

</div>
</body>

  
  
{% endblock %}