
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    <title>elly</title>
</head>


<body style="background-color: rgba(77, 202, 240, 0.493) ;">

   <div class="container-">
    <nav class="navbar navbar-expand-md navbar-light bg-light"   >
            <a  class ="navbar-brand" href="{% url 'index' %}"  >DigiWorks</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseLinks" aria-controls="navbarCollapseLinks" aria-expanded="false" aria-label="Toggle Navigation">
              <span class="navbar-toggler-icon"></span> 
            </button> 
            <div class=" collapse navbar-collapse" id="navbarCollapseLinks">
             <ul class="navbar-nav ml-auto">
                <li class="nav-item" >
                    <a class ="nav-link" style:text-color="blue" href="{% url 'about' %}" >About</a>
                </li>
  
                <li class="nav-item" >
                    <a class ="nav-link" href="{% url 'contact' %}" >Contact</a>
                </li>
  
                <li class="nav-item" >
                    <a class ="nav-link" href="{% url 'skillset' %}" >Skill Set</a>
                </li>
  
                <li class="nav-item" >
                    <a class ="nav-link" href="{% url 'experience' %}">Experience</a>
                </li>
             </ul>
            </div>
     </nav>

    </div>
    <!-- <div class="container-fluid "  style="background-color: rgba(77, 202, 240, 0.493) ;"> -->
{% load static%}

  <div class = "container text-center"> 
 {%block content%}
  {%endblock%} 

   
</div>
 <footer>
   
    <div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
        <div class="navbar-text pull-left">
        </div>
        <div class= "navbar-text pull-right">
       <a  style="font-weight: bold;"  href="https://github.com/OMONDIELLY"   class="fab fa-github" >Github Profile</a>
       <a  style="font-weight: bold;"   href="https://twitter.com/omondi_obare" class="fab fa-twitter-square" >Twitter Handle</a>
       <a  style="font-weight: bold;"  href="https://www.linkedin.com/mwlite/me" class="fab fa-linkedin" >LinkedIn Profile</a>

            
        </div>
        <!--Below is the copyright information for the site. You can fill in your own here.-->
        <div class="navbar-text pull-left">
        &copy; DigiWorks ,2020
        </div>
    </div>	
    <p></p>

</footer>

  </div>
 </div> 
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</body>
 </html>

